body{
    margin: 0;
    font-family: Source Sans Pro;
}
/*Body안에 큰 상자 가운데 정렬 셋팅*/
#warp{
    width: 1000px;
    margin: auto;
}
a {
    text-decoration: none;
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;
    padding: 8px 12px;
}
.navbar_logo{
    font-size: 24px;
    color: white;
}

.navbar_logo i {
    color: burlywood
}

.navbar_menu{
    display: flex; 
    list-style-type: none;
    padding-left: 0;
}
.navbar_menu li {
    padding: 8px 12px;
}

.navbar_menu li:hover{
    background-color: #d49466;
    border-radius: 4px;
}
.navbar_icons {
    list-style: none;
    color: white;
    display: flex;
    padding-left: 0;
}

.navbar_icons li{
    padding: 8px 12px;
}

.navbar_toggle{
    position:absolute;
    right : 32px;
    font-size: 24px;
    color: #d49466;
    display: none;
}


.main_section video{
    width: 95%;
    margin: 2% auto;
}
.main_section{
    padding: 5px 5px;
    
}
/*프로필 페이지 섹션에 젤 큰 Div 셋팅 - flexbox 사용*/
.profile_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;    
}
/*Profile 소개글*/
#my_profile { margin-top: 3%; }
#my_profile h2{font-size: 1.5em; font-family:  Georgia, 'Times New Roman', Times, serif; color:white; text-shadow: 0px 0px 5px darkblue;}

/*테이블 꾸미기*/
#profile_tb{border-collapse: collapse; width: 80%; height:200px; margin-left: auto; margin-right: auto;}
#profile_tb td{border-bottom: 1px solid lightgrey; text-indent: 2em;}
#profile_tb th{border-right: 1px solid lightgray; border-bottom: 1px solid lightgray; background-color: beige;}
#profile_tb tr:nth-child(6)>th{border-bottom: none;}
#profile_tb tr:nth-child(6)>td{border-bottom: none;}

/* my_photo section */
#my_photo {overflow: hidden; margin: 20px 0px;}
#my_photo img {width: 90%; display: block; margin-left: 5%;}

/* my_photo 좌우로 움직일때 */
.slidelist {position: relative; width: 3000px; z-index: 50;}
.slidelist .slideImg {position: relative; width: 1000px; float: left;}

/*포트폴리오 페이지 섹션에 큰 DIv 셋팅-flexbox 사용*/
#portfolio_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* 포트폴리오 div 크기 및 테두리 셋팅 */
.portfolio{
    width: 47%;
    border: 1px dotted gray;
    text-align: center;
}

/* 포트폴리오 설명글의 셋팅 */
.portfolio.po2, .po4, .po6{
    width: 45%;
    text-align: left;
    border: 0px ; 
}

/* 포트폴리오 이미지가 이미지 박스 크기에 비례하여 70% 정도 크기 */
.portfolio img{
    width: 70%;
}

/*footer 저작권 부분*/
#footer{
    font-size: 16px;
    color: white;   
    background-color: #263343;   
    text-align: center;
}

.foot {
    display: inline-block;
    padding: 12px 12px;
}

/*미디어 쿼리 : 화면이 작아졌을때*/
@media screen and (max-width:768px) {
     .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
     }
     .navbar_menu {
         display: none;
         flex-direction: column;
         align-items: center;
         width: 100%;
     }
     .navbar_menu li {
         width: 100%;
         text-align: center;
     }
     .navbar_icons {
         display: none;
         justify-content: center;
         width: 100%;
     }
     .navbar_toggle{
         display: block;
     }
     .navbar_menu.active, .navbar_icons.active{
         display: flex;
     }
     .main_section {
         background-size: cover;
     }
     #warp{
         width: auto;
     }
     .portfolio{
        width: 90%;
    }
    /*포트폴리오 작품 DIV 안에서의 사이즈*/
    .portfolio.po2, .po4, .po6{
        width: 80%;
        margin-left: 5%;
        margin-right: 5%;
    }
    /*포트폴리오 세로 배열 순서 조정*/
    .po1{order:1;}
    .po2{order:2;}
    .po3{order:3;}
    .po4{order:4;}
    .po5{order:5;}
    .po6{order:6;}

}

/*미디어 쿼리 : 스마트폰 모바일기기*/
@media screen and (min-width: 320px) and (max-width: 480px) {
    .navbar {
       flex-direction: column;
       align-items: flex-start;
       padding: 8px 24px;
    }
    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar_menu li {
        width: 100%;
        text-align: center;
    }
    .navbar_icons {
        display: none;
        justify-content: center;
        width: 100%;
    }
    .navbar_toggle{
        display: block;
    }
    .navbar_menu.active, .navbar_icons.active{
        display: flex;
    }
    .main_section {
        background-size: cover;
    }
    #warp{
        width: auto;
    }
    .portfolio{
       width: 90%;
   }
   /*포트폴리오 작품 DIV 안에서의 사이즈*/
   .portfolio.po2, .po4, .po6{
       width: 80%;
       margin-left: 5%;
       margin-right: 5%;
   }
   /*포트폴리오 세로 배열 순서 조정*/
   .po1{order:1;}
   .po2{order:2;}
   .po3{order:3;}
   .po4{order:4;}
   .po5{order:5;}
   .po6{order:6;}

}